<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Answer</title>
  </head>
  <body>
    <h2>Ask us anything</h2>
    <h3>You asked:</h3>
    <blockquote>
      <%= question %>
    </blockquote>
    <h3>We answered: <%= answer %></h3>
  </body>
</html>
