<form action="/result">
  <label>
    First number:
    <input type="number" name="x" placeholder="23">
  </label>

  <label>
    Operator:
    <input placeholder="+ or - or * or /" name="operator">
  </label>

  <label>
    Second number:
    <input type="number" name="y" placeholder="52">
  </label>

  <button>Calculate</button>
</form>
